.movie-details {
  display: flex;
  gap: 48px;
  background: #394B61;
  border-radius: 8px;
}

.movie-details .movie-poster {
  border-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 390px;
  width: 35%;
}

.movie-details .movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.movie-meta {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 768px) {
  .movie-details {
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }

  .movie-details .movie-poster {
    width: 100%;
    height: 250px;
    border-radius: 8px;
  }

  .movie-details .movie-info {
    width: 100%;
  }
}

.action-btns {
  margin-top: 4px;
}

.action-btns button {
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  padding: 8px 22px;
  background: none;
}

.action-btns .play-button {
  background: #00E0FF;
  color: #000000;
  margin-right: 16px;
}

.action-btns .trailer-button {
  color: #00E0FF;
  border: 1px solid #00E0FF;
}

.rating {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rating-bar {
  width: 110px;
  height: 8px;
  border-radius: 16px;
  background: #283647;
  
}

.rating-progress {
  transform-origin: left;
  transition-timing-function: linear;
  transition: width 1s ease;
  background: #00E0FF;
  height: 100%;
  border-radius: 16px;
}

