.movies {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movies-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movies-row-list {
  width: 100%;
  display: flex;
  gap: calc(var(--card-width) / 10);
}

@media (max-width: 600px) {
  .movies {
    gap: 12px;
  }

  .movies-row {
    gap: 12px;
  }

  .movies-row-list {
    gap: calc(var(--card-width) / 12);
  }
}

