body *{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-container {
  display: flex;
  color: #fff;
  width: 100vw;
  min-height: 100vh;
  background: #273244;
}


